# Python
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
venv/
.venv/

# Docker
*.log

# Secrets / env
.env
*.tfvars
!*.tfvars.example

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# OS
.DS_Storekube
config
infra/ansible/kubeconfig
